<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>job post</title>
</head>
<body>
    <div class="container" style="align-items: center; text-align: center;" border="2px">
        <br><br><br><br><br>
    
        <div class="container">
            <h3>Post A Job!!!!</h3>
            <button class="btn btn-dark border-0 w-100">
                <a href="/postpage">Post job</a>
            </button>
        </div>
        <br><br><br><br>
        <div class="container">
            <h3>Go To The Home Page</h3>
            <button class="btn btn-dark border-0 w-100">
                <a href="/home">Home Page</a>
            </button>
        </div>
    </div>
    
</body>
</html>