<%-include('./common/head')%>

<body class="background-color-white">

    


    <section id="post_job">
        <div class="vertical-space-100"></div>
        <div class="vertical-space-101"></div>
        <div class="container">
            <h2>Post a Job</h2>
            <div class="vertical-space-60"></div>
            <div class="job-post-box">
                <form action="/postjob" method="post" enctype="multipart/form-data">
                    
                    <div class="form-group">
                        <label for="exampleInputJobtitle">Job title</label>
                        <input type="text" class="form-control" id="exampleInputJobtitle"
                            placeholder="Enter your job title" name="jobtitle" required />
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group mybtn" id="Job-Nature">
                            <label>Job Category</label>
                            <select class="custom-select" name="category">
                                <option selected>Select category</option>
                                <%if(catagory_data.length>0){
                                    for(let data of catagory_data){
                                        if(data.status){%>
                                <option value="<%=data.jobcatagoryname%>"><%=data.jobcatagoryname%></option>
                               <%}}}%>
                              </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label for="exampleInputCompany">Company</label>
                                <input type="text" class="form-control" id="exampleInputCompany"
                                    placeholder="Full name of company" name="company" required />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label for="exampleInputLoction">Loction</label>
                                <input type="text" class="form-control" id="exampleInputLoction"
                                    placeholder="Company Address" name="location" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label for="exampleInputLoction">Company Logo</label>
                                <input type="file" class="form-control" name="image"
                                    placeholder="Enter your profile-picture" required />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputShortDescription">Job Description</label>
                        <textarea class="form-control small" id="exampleInputShortDescription"
                            placeholder="Write short description" name="job_des" rows="3" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputLongDescription">Job Qualification</label>
                        <textarea class="form-control large" id="exampleInputLongDescription"
                            placeholder="Write Experience & Requirement" name="job_qualification" rows="3" required></textarea>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group mybtn" id="Job-Nature">
                                <label>Job Nature</label>
                                <select class="custom-select" name="job_nature">
                                    <option selected>Select job_type</option>
                                    <option value="Full-Time">Full-Time</option>
                                    <option value="Part-Time">Part-Time</option>
                                    <option value="Freelancer">Freelancer</option>
                                  </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <label for="sel1">Salary Range:</label>
                                <select class="form-control" id="sel1" name="salary">
                                    <option value="5000-10000">5,000 - 10,000</option>
                                    <option value="3000-5000">3,000 - 5,000</option>
                                    <option value="2000-1000">2,000 - 1,000</option>
                                    <option value="7000-10000">7,000 - 10,000</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Dead Line</label>
                            <input type="date" name="deadline">
                        </div>
                    </div>
                    
                    <button type="submit" class="btn Post-Job-Offer">Post Job</button>
                </form>
            </div>
        </div>
    </section>



    <script data-cfasync="false" src="marchent/js/email-decode.min.js"></script>
    <script src="marchent/js/jquery.min.js"></script>
    <script src="marchent/js/bootstrap.min.js"></script>
    <script src="marchent/owlcarousel/owl.carousel.min.js"></script>
    <script src="marchent/js/jquery-ui.min.js"></script>

    <script src="marchent/js/custom.js"></script>
    <script>
        (function (e, t, n) {
            var r = e.querySelectorAll("html")[0];
            r.className = r.className.replace(/(^|\s)no-js(\s|$)/, "$1js$2");
        })(document, window, 0);
    </script>
</body>

</html>